.c1{
    padding-top: 25px;
    display:flex;
    justify-content:center;
    align-items: center;
}
.c2{
    padding-top: 25px;
    display:flex;
    justify-content:center;
    align-items: center;
}
.c3{
    padding-top: 25px;
    display:flex;
    justify-content:center;
    align-items: center;
}
.c4{
    border:1px;
    padding-top: 25px;
    display:flex;
    justify-content:center;
    align-items: center;
}
.c5{
    padding-top: 25px;
    display:flex;
    justify-content:center;
    align-items: center;
}
.c6{
    padding-top: 25px;
    display:flex;
    justify-content:center;
    align-items: center;
}
.c7{
    padding-top: 25px;
    display:flex;
    justify-content:center;
    align-items: center;
}